.Pagination {
  height: 48px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background: #fcfcfc;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.Pagination__button {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 0 14px;
  font-weight: bold;
  font-size: 12px;
  line-height: 48px;
  color: var(--color-black);
  cursor: pointer;
  outline: none;
}

  .Pagination__button:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .Pagination__button:hover {
    color: var(--color-seablue);
  }

  .Pagination__button--disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.25);
  }
