.Import {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.Import__title {
  font-weight: 600;
  font-size: 32px;
  color: var(--color-offblack);
  margin-top: 0;
  margin-bottom: 22px;
}

.Import__body {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 58px;
}
