.Disclaimer {
  position: fixed;
	bottom: 0px;
	width: 100%;
  margin: 0 auto;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.12);
  background: var(--color-white);
}

.Disclaimer--wrapper {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: var(--page-gutter);
	display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.Disclaimer--title {
	font-weight: bold;
	font-size: 16px;
	margin-right: 30px;
}

.Disclaimer--content {
	font-size: 14px;
}

.Disclaimer--wrapper .Button {
	margin-left: 40px;
	white-space: nowrap;
}

