.Disclaimer__modal-overlay {
  background: rgba(36, 123, 160, 0.7) !important;
}

.Disclaimer__modal-content {
  max-width: 500px !important;
  width: 100%;
  padding: 40px !important;
  text-align: center;
}

.Disclaimer__modal-content .Disclaimer__icon {
    display: block;
    margin: 20px auto;
}

.Disclaimer__modal-content h2 {
  padding-bottom: 25px;
}

.Disclaimer__modal-content p {
  line-height: 20px;
  color: var(--color-offblack);
  font-size: 14px;
}

.Disclaimer__modal-content ul {
  margin: 20px 0px 20px 20px;
  text-align: left;
}

.Disclaimer__modal-content li {
  line-height: 20px;
  color: var(--color-offblack);
  font-size: 14px;
}

.Disclaimer__form {}

  .Disclaimer__form-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: 10px;
    border: solid var(--color-darkgray) 1px;
    padding: 10px;
    margin-bottom: 20px;
  }


  .Disclaimer__form-control input {
    margin-right: 10px;
  }

  .Disclaimer__form .Button {
    width: 100%;
  }

