.LoadingOverlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 1.2rem;
  display: flex;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
  background: rgba(36, 123, 160, 0.7);
}

.LoadingOverlay__label {
  margin-left: 20px;
  color: var(--color-white);
  font-weight: bold;
  font-family: 'SW Garden Grove';
  font-size: 24px;
}
