:root {
  --color-white: #fff;
  --color-offwhite: #fcfcfc;
  --color-black: #000;
  --color-offblack: #2B2B2B;
  --color-gray: #F7F7F7;
  --color-blue: #1B9CC4;
  --color-cyan: #1FC2B8;
  --color-seablue: #1CA7C1;
  --color-green: #27AE60;
  --color-red: #EB5757;
  --font-roboto: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
  --font-garden-grove: 'SW Garden Grove', 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
  --page-width: 1120px;
  --page-gutter: 30px;
}

body {
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

@font-face {
  font-family: 'SW Garden Grove';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/garden-grove/garden-grove-bold.woff2') format('woff2'),
       url('./fonts/garden-grove/garden-grove-bold.woff') format('woff');
}

@font-face {
  font-family: 'SW Garden Grove';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/garden-grove/garden-grove-semibold.woff2') format('woff2'),
       url('./fonts/garden-grove/garden-grove-semibold.woff') format('woff');
}
